body {
    background-color: #dcddd8;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#container {
    display: table;
    height: 100%;
    width: 100%;
}

#left {
    background-color: #475f77;
    display: table-cell;
    color: white;
    padding: 0.4em 0.8em 0.4em 0.4em;
    width: 80px;
}

#left h1 {
    margin: 0;
    padding: 0;
		color: white;
		transition: color 0.1s ease-out;
}

#left h1:hover {
    color: #fafafa;
}

#left a {
	text-decoration: none;
}

#navigation {
    width: 200px;
    display: table-cell;
    background-color: #d74b4b;
    box-shadow: -1px 0 10px black;
    border-left: solid 1px #e75b5b;
    color: white;
    padding: 0.4em 1em;
}

#right {
    display: table-cell;
    padding: 0.4em 1em;
}

#main {

}

#header {
    text-align: right;
    font-size: 0.9em;
    width: 100%;
}

#header > a, #header > span {
    background-color: #ebebe9;
    border-radius: 2px;
    padding: 2px 4px;
}

h1, h2, h3, h4, h5, h6, h7 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

a {
    color: #475f77;
    transition: color 0.1s ease-out;
}

a:hover {
    color: #141c23;
}

#navigation a {
    color: white;
}

#navigation a:hover {
    color: #141c23;
}

label {
    float: left;
    clear: left;
    width: 160px;
    text-align: right;
    padding: 2px 8px 2px 4px;
    margin-bottom: 4px;
}

input[type=text], input[type=password] {
    float: left;
    border-radius: 2px;
    border: 1px solid #475f77;
    padding: 2px 4px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    margin: 0 0 4px 0;
    box-shadow: 0 1px 1px #ebebe9 inset;
    width: 240px;
}

input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #d74b4b;
}

input[type=submit] {
    float: left;
    clear: left;
    width: 80px;
    padding: 4px 8px;
    margin: 8px 0 0 320px;
}

/* Tweets */

ul.tweets {
    list-style: none;
}

ul.tweets > li {
    display: block;
    background-color: #ebebe9;
    padding: 0.6em;
    margin-bottom: 3px;
    border-radius: 1px;
    box-shadow: 1px 1px 1px #d2d4cd;
}

ul.tweets > li span.tweet-screen-name {
    font-size: 0.8em;
    display: block;
    text-align: right;
    margin-top: 0.4em;
}
